
<h1>Seznam vyletu</h1>

<ul>
 <li>Rok 2007
     <ul>
       <li><a href="2007/dolomity/">Dolomity</a></li>
       <li><a href="2007/norsko/">Norsko</a></li>
       <li><a href="2007/tatry/">Tatry</a></li>
     </ul>
 </li>
 <li>Rok 2008
     <ul>
       <li><a href="2008/jizerky/">Jizerky</a></li>
       <li><a href="2008/alpy/">Alpy</a></li>
     </ul>
 </li>
 <li><a href="2009/">Rok 2009</a></li>
</ul>

